---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="My name is odiseo , The Creator of this site"
	description=""
	pubDate={new Date('August 08 2021')}
	heroImage="https://i.pinimg.com/564x/2f/4d/5a/2f4d5a57bf75a7cdcbba5c11d658ed40.jpg"
>
	<p>
		Hey everyone! I'm a software developer from the Dominican Republic,
		 with a big dream of (building incredible applications/solving problems with code/making my mark on the tech world). 
		 I spent the last 2 years honing my skills in software development at ITLA, and now I'm ready to keep growing and creating. 
		 Check out my social media to connect!	
	</p>

</Layout>
 